@model Portal_CRU.Models.Espacios

@{
    ViewBag.Title = "Eliminar Espacio";
}

<h2>Eliminar</h2>

<h3>Esta Seguro</h3>
<div>
    <h4>Espacios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipodeespacio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipodeespacio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEstudiante)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminiar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
