@model Portal_CRU.Models.Espacios

@{
    ViewBag.Title = "Detalles ";
}

<h2>Detaller</h2>

<div>
    <h4>Espacios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipodeespacio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipodeespacio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEstudiante)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
