@model IEnumerable<Portal_CRU.Models.Espacios>

@{
    ViewBag.Title = "Espacios";
}

<h2>Espacios</h2>

<p>
    @Html.ActionLink("Crear Nuevo Espacio", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipodeespacio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdEstudiante)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipodeespacio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdEstudiante)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Ver", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Reparar", "", new { id = item.Id })
        </td>
    </tr>
}

</table>
